* {
  position: relative;
  font-family: 'Crimson Text', serif;
  font-size: large;
}

pre {
  font-family: 'Roboto Mono', monospace;
  overflow-x: scroll;
  overflow-y: hidden;
}

pre::-webkit-scrollbar {
  width: 0 !important
}

pre {
  overflow: -moz-scrollbars-none;
}

pre {
  -ms-overflow-style: none;
}

h1, h2, h3 {
  font-family: 'Crimson Pro', serif;
  color: #000985;
}

aside * {
  font-family: 'Crimson Pro', serif;
}

aside a {
  color: white;
  text-decoration: none;
}

.contents {
  margin-top: 50px;
}

a {
  cursor: pointer;
}

aside a:hover {
  text-decoration: underline;
}

aside h1, h3 {
  color: white;
}

.contents h3 {
  border: 1px white solid;
  border-bottom: none;
  padding: 10px;
  margin-bottom: 0;
}

.contents ul {
  border: 1px white solid;
  padding: 10px;
  margin: 0;
}

.contents li {
  padding: 5px;
  padding-left: 0;
  list-style: none;
}

aside .controls {
  margin-top: 20px;
  display: flex;
}

aside .controls div {
  width: 50%;
  display: block;
  text-align: center;
  border: 1px white solid;
  padding: 10px;
}

aside .controls div:first-child {
  border-right: none;
}

aside .contact {
  margin-top: 50px;
  text-align: center;
}

aside {
  display: none;
}

.aside-inner {
  position: fixed;
  min-height: 100vh;
}

.page {
  width: 94%;
  margin-left: 3%;
  margin-right: 3%;
}

@media screen and (min-width: 768px) {
  .page {
    width: 80%;
    margin-left: 10%;
    margin-right: 10%;
  }
}

@media screen and (min-width: 960px) {
  .page {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    display: flex;
    justify-content: space-between;
  }

  aside {
    display: block;
    color: white;
    width: 30%;
    min-height: 100vh;
  }

  main {
    margin-left: 5%;
    width: 63%;
    margin-right: 2%;
  }

  .aside-inner {
    background-color: #000985;
    width: calc(30vw - 20px);
    padding: 10px;
    top: 0;
    margin: 0;
  }
}

@media screen and (min-width: 1367px) {
  .page {
    width: 70%;
    margin-left: 5%;
    margin-right: 20%;
  }

  .aside-inner {
    width: calc(70vw * .3 - 20px);
    left: calc(5vw + 10px);
  }
}

@media screen and (min-width: 1600px) {
  .page {
    width: 60%;
    margin-left: 10%;
    margin-right: 30%;
  }

  .aside-inner {
    width: calc(60vw * .3 - 20px);
    left: calc(10vw + 10px);
  }
}